
@font-face {
    font-family: Archivo;
    src: url(fonts/Archivo/Archivo-VariableFont_wdth\,wght.ttf);
}

/* squeue property use to transform the shape of object */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Archivo;

}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    /* width: 100%;
    height: 100%; */
    background-color: black;

}
#page1{
    min-height: 100vh ;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
    z-index: 4;
} 

nav{ 
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;

    justify-content: space-between;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 2vw;
}

#nav-part2 h4{
    padding: 0.5vw 1vw;
    border: 0.05vw solid rgb(179, 176, 176);
    border-radius: 5vh;
    font-weight: 200;
    /* font-size: 17px; */
    font-size: 1.25vw;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;

}


#logo{
    height: 8vw;
    width: 8vw;
}

#nav-part2 h4::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 2;
}

#nav-part2 h4:hover a{
    color: #fff;
}


#heading{
    position: relative;
}
#heading h1{
    font-size: 10vw;
}

#heading p{
    width: 55vw;
    height: 1vh;
    background-color: #fe320a;
    position: absolute;
    top: 78%;
    left: 42%;
}

.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0;
}
.photo img{
    height: 70vh; 
    width: 50vh; 
    object-fit: cover;
    border-radius: 2vh;
}

.name{
    margin-top: 2vh;
}
.name h2{
    font-weight:300;
}


/* --- page 5 */
#page5{
    height: 100vh;
    width: 100%;
}

#footer{
    position:fixed;
    height: 100vh;
    width: 100%;
    bottom: 0;
    color: #EFEAE3;
    background-color: #0C0601;

 }

#top-footer{
    position:fixed;
    z-index: 9;
    color: #EEE9E2;
    margin-top: 10vw;
    margin-left: 6vw;

}
#top-footer h4 {
    line-height: 3vw;
    font-size: 2vw;
    font-weight: 600;
}
#top-footer h4 a{
    color: #EEE9E2;
    text-decoration: none;
}

#title{
    top: 30%;
    position:fixed;
    margin-top: 7vw;
    padding-left: 25%;
}
#footer h1{
    color: #EEE9E2;
    font-size: 17vw;
}
#footer p{
    position: absolute;
    top: 90%;
    background-color: #EEE9E2;
    height: 0.1vh;
    width: 100%;
}


#lower-footer{
    width: 100%;
    position: absolute;
    top: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#lower-footer h2{
    font-size: 2vh;
    font-weight: 100;
}

#lower-footer img{
    height: 2vh;
    width: 2vh;
}

.common{
    display: flex;
    gap: 1vh;
}
#lower-animation{
    position:fixed;
    height: 100vh;
    width: 100%;
    z-index: 1;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

 #block1 {
    position: absolute;
    width: 100%;
    height: 20vw;
    background: linear-gradient(to top, #fe320a 0%, #fe4f0a 100%);
    transform-origin: bottom center;
    animation: wave1 10s linear infinite;
    filter: blur(2vh);
  }


 #block3 {
    position: absolute;
    width: 100%;
    height: 20vw;
    border-radius: 20px;
    background: linear-gradient(to top, #fe320a 0%, #fe5b0a 100%);
    transform-origin: bottom center;
    animation: wave3 10s linear infinite;
    filter: blur(2vh);

  }
  

 @keyframes wave1 {
    0% {
      transform: skewY(3deg);
    }
    50% {
      transform: skewY(-10deg);
    }
    100% {
      transform: skewY(-3deg);
    }
  }


 @keyframes wave3 {
    0% {
      transform: skewY(-3deg);
    }
    50% {
      transform: skewY(10deg);
    }
    100% {
      transform: skewY(3deg);
    }
  }

  /* media query */
  
@media only screen and (max-width: 767px) {
    nav {
      flex-direction: row;
    }

    #logo{
      height: 6.5vh;
      width: 6.5vh;
    }
  
    #nav-part2 {
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 0;
    }
  
    #nav-part2 h4 {
      padding: 10px;
      border: 0.05vw solid rgb(179, 176, 176);
      border-radius: 5vh;
      font-size: 2vh;
      /* overflow: hidden; */

    }
 
  #nav-part2 h4 a{
      text-decoration: none;
      /* color: black; */
      position: relative;
  }
   
    #heading {
      position: relative;
      margin-top: 20px;
    }
  
    #heading h1 {
      font-size: 48px;
    }

.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0;
}
.photo img{
    height: 60vh; 
    width: 40vh; 
    object-fit: cover;
    border-radius: 2vh;
}

.name{
    margin-top: 2vh;
}
.name h2{
    font-weight:300;
}


    /* footer */
#footer{
  position:fixed;
  height: 100vh;
  width: 100%;
  bottom: 0;
  color: #EFEAE3;
  background-color: #0C0601;

}

#top-footer{
  position:fixed;
  z-index: 9;
  color: #EEE9E2;
  margin-top: 30vw;
  margin-left: 6vw;

}
#top-footer h4 {
  line-height: 8vw;
  font-size: 5vw;
}
#top-footer h4 a{
  color: #EEE9E2;
  text-decoration: none;
}

#title{
  top: 50%;
  position:fixed;
  margin-top: 7vw;
  padding-left: 25%;
}
#footer h1{
  color: #EEE9E2;
  font-size: 17vw;
}

#footer p{
  position: absolute;
  top: 90%;
  background-color: #EEE9E2;
  height: 0.05vh;
  width: 100%;
}

#lower-footer{
  width: 100%;
  position: absolute;
  top: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#lower-footer h2{
  font-size: 1.5vh;
  font-weight: 100;
}

#lower-footer img{
  height: 2vh;
  width: 2vh;
}

.common{
  display: flex;
  gap: 1vh;
}
#lower-animation{
  position:fixed;
  height: 100vh;
  width: 100%;
  z-index: 1;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#block1 {
  position: absolute;
  width: 100%;
  height: 70vw;
  background: linear-gradient(to top, #fe320a 0%, #fe4f0a 100%);
  transform-origin: bottom center;
  animation: wave1 5s linear infinite;
  filter: blur(2vh);
}


#block3 {
  position: absolute;
  width: 100%;
  height: 70vw;
  border-radius: 20px;
  background: linear-gradient(to top, #fe320a 0%, #fe5b0a 100%);
  transform-origin: bottom center;
  animation: wave3 5s linear infinite;
  filter: blur(2vh);

}


@keyframes wave1 {
  0% {
    transform: skewY(3deg);
  }
  50% {
    transform: skewY(-10deg);
  }
  100% {
    transform: skewY(-3deg);
  }
}


@keyframes wave3 {
  0% {
    transform: skewY(-3deg);
  }
  50% {
    transform: skewY(10deg);
  }
  100% {
    transform: skewY(3deg);
  }
}

}